@import url(../fonts/roboto/stylesheet.css);
@import url(../css/bootstrap-grid.min.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #828282;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav-active {
  color: #9f9f9f;
}
.nav-active:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #9f9f9f;
  bottom: 0;
  left: 0;
}

.container {
  padding: 0 10px;
  position: relative;
  max-width: 1159px;
  margin: 0 auto;
}

.home-container {
  padding: 0 10px;
  max-width: 1232px;
  margin: 0 auto;
  position: relative;
}

.home__title {
  padding-top: 162px;
  font-size: 48px;
  font-weight: 500;
  max-width: 452px;
  text-decoration: underline;
  color: #fff;
  position: absolute;
  right: 0;
}

h2.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 140%;
  color: #F2994A;
  text-decoration: underline;
  margin-bottom: 20px;
}

@media (max-width: 540px) {
  h2.title {
    font-size: 30px;
  }
}
@media (max-width: 415px) {
  h2.title {
    font-size: 26px;
  }
}
.text-1 {
  color: #333333;
  font-weight: 500;
  margin-bottom: 20px;
}

.col-md-6 img {
  width: 100%;
}

.header {
  width: 100%;
  position: absolute;
  padding: 12px 0;
  color: #fff;
  font-weight: 500;
  border-bottom: 1px solid #000;
}
.header__logo {
  width: 106px;
  height: 27px;
  margin-right: 74px;
}
.header__logo_1 {
  display: none;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar_1 {
  align-items: center;
  display: flex;
}
.header__navbar_1 li {
  margin-right: 60px;
}
.header__navbar_1 li a {
  transition: 0.5s all;
  position: relative;
}
.header__navbar_1 li a:hover {
  color: #9f9f9f;
}
.header__navbar_1 li a:hover:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #9f9f9f;
  bottom: 0;
  left: 0;
}
.header__navbar_1 li:nth-child(1) {
  margin-right: 0;
}
.header__navbar_1 li:last-child {
  margin-right: 0;
}
.header__navbar_2 {
  display: flex;
  align-items: center;
}
.header__navbar_2 li {
  margin-left: 56px;
}
.header__navbar_2 li:nth-child(1) {
  margin-left: 0;
}
.header__navbar_2 li a {
  position: relative;
  transition: 0.5s all;
}
.header__navbar_2 li a:hover {
  color: #9f9f9f;
}
.header__navbar_2 li a:hover:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #9f9f9f;
  bottom: 0;
  left: 0;
}

.home {
  overflow: hidden;
}
.home__block_1 {
  background: url("../img/home/home-bg-1.jpg") center/cover;
  height: 100vh;
  position: relative;
  z-index: -1;
}
.home__block_1 .box {
  position: absolute;
  width: 47%;
  height: 100%;
  right: 0;
  color: white;
  background: rgba(0, 0, 0, 0.4);
}
.home__block_2 {
  color: #fff;
  padding: 50px 0;
  background: url("../img/home/home-bg-2.jpg") center/cover;
}
.home__block_2 .title {
  color: #fff;
  text-decoration: underline;
  font-size: 36px;
  margin-bottom: 50px;
}
.home__block_2 .include {
  display: flex;
  justify-content: space-around;
}
.home__block_2 .include li p {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
}
.home__block_2 .include li p:nth-child(2) {
  font-size: 16px;
}
.home__block_2 .include li .in {
  text-decoration: underline;
}

.about {
  overflow: hidden;
  padding: 100px 15px;
}
.about .col-md-6:nth-child(1) {
  padding-left: 0;
  padding-right: 50px;
}
.about .col-md-6:nth-child(2) {
  padding-right: 0;
}
.about .col-md-6 .col-3 .block {
  margin: 0 auto 20px auto;
  width: 80px;
  height: 80px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}
.about .col-md-6 .col-3 p {
  text-align: center;
  margin-bottom: 20px;
}

.whatwedo {
  padding: 0 15px 100px;
  overflow: hidden;
}
.whatwedo .col-md-6:nth-child(1) {
  padding-right: 50px;
  padding-left: 0;
}
.whatwedo .col-md-6:nth-child(2) {
  padding-right: 0;
}

.specializations {
  overflow: hidden;
  padding: 0 15px 100px;
  text-align: center;
}
.specializations p {
  text-align: left;
  margin-bottom: 20px;
}
.specializations .title {
  text-align: center;
  margin-bottom: 50px;
}
.specializations .col-lg-6 {
  display: flex;
  justify-content: center;
  padding: 0;
}
.specializations .col-lg-6 .col-md-6 {
  padding: 0;
}
.specializations ul {
  display: flex;
  justify-content: space-around;
}
.specializations ul li .block {
  margin: 0 auto 20px auto;
  width: 80px;
  height: 80px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}
.specializations ul li p {
  text-align: center;
  margin-bottom: 20px;
}

.news {
  padding-bottom: 100px;
  overflow: hidden;
}
.news .col-lg-6:nth-child(1) {
  padding-left: 0;
  margin-bottom: 50px;
}
.news .col-lg-6:nth-child(2) {
  align-items: center;
  padding-right: 0;
  margin-bottom: 50px;
}
.news .col-lg-6:nth-child(3) {
  padding-left: 0;
}
.news .col-lg-6:nth-child(4) {
  align-items: center;
  padding-right: 0;
}

.map {
  overflow: hidden;
  position: relative;
  height: 635px;
}
.map iframe {
  border: none;
  z-index: 0;
  position: absolute;
}
.map .box {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  color: white;
  background: rgba(0, 0, 0, 0.4);
}
.map .content {
  max-width: 440px;
  position: absolute;
  right: 15px;
}
.map .title {
  padding-top: 50px;
  padding-bottom: 50px;
}
.map p {
  color: #fff;
}

.footer {
  padding: 96px 0;
  background-color: #000;
}
.footer__navbar {
  display: flex;
  justify-content: start;
}
.footer__navbar .link {
  margin-right: 120px;
}
.footer__navbar .link li {
  margin-bottom: 5px;
}
.footer__navbar .link li a:hover {
  color: #9f9f9f;
  transition: 0.2s all;
}

@media (max-width: 1024px) {
  .header__navbar_1 li {
    margin-right: 35px;
  }

  .home__block_1 {
    height: 43vh;
  }
  .home__title {
    right: 10px;
  }

  .news .container .row .col-md-6 {
    margin-bottom: 30px;
  }

  .map {
    height: 545px;
  }
}
@media (max-width: 999px) {
  .home__block_1 .box {
    width: 55%;
  }

  .map .box {
    width: 55%;
  }
}
@media (max-width: 838px) {
  .header {
    padding: 25px 0;
  }
  .header__logo_1 {
    display: block;
  }
  .header__navbar {
    display: none;
  }
  .header__navbar ul {
    display: inline-block;
    text-align: center;
  }
  .header__navbar ul:nth-child(1) {
    padding-top: 30px;
  }
  .header__navbar ul:nth-child(1) li:nth-child(1) {
    display: none;
  }
  .header__navbar ul:nth-child(2) {
    padding-bottom: 30px;
  }
  .header__navbar ul li {
    margin: 0 0 15px 0;
  }
  .header__navbar.active {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
  }
  .header .burger {
    position: absolute;
    top: -10px;
    right: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
  }
  .header .burger span {
    width: 28px;
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: 0.5s all;
  }
  .header .burger span:before {
    content: "";
    position: absolute;
    top: -10px;
    width: 28px;
    height: 2px;
    background-color: #fff;
    transition: 0.5s all;
  }
  .header .burger span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -10px;
    background-color: #fff;
    transition: 0.5s all;
  }
  .header .burger span.active {
    background: none;
  }
  .header .burger span.active:before {
    top: 0;
    transform: rotate(45deg);
  }
  .header .burger span.active:after {
    bottom: 0;
    transform: rotate(-45deg);
  }

  .home__block_1 .box {
    width: 60%;
  }

  .map .box {
    width: 60%;
  }

  .footer__navbar .link {
    margin-right: 80px;
  }
}
@media (max-width: 768px) {
  .home__title {
    padding-left: 10px;
  }
  .home__block_1 {
    height: 50vh;
  }
  .home__block_1 .box {
    width: 100%;
  }
  .home__block_1 h1 {
    max-width: 660px;
  }
  .home__block_2 {
    padding: 35px 0;
  }
  .home__block_2 .title {
    margin-bottom: 30px;
  }

  .about .col-md-6:nth-child(2) {
    padding-top: 50px;
    padding-right: 15px;
  }

  .whatwedo .col-md-6:nth-child(2) {
    padding-top: 70px;
  }

  .news .col-md-6:nth-child(2n+1) {
    padding-top: 70px;
  }

  .map .box {
    width: 100%;
  }
  .map .content {
    left: 50%;
    transform: translateX(-50%);
  }
  .map .title {
    padding-bottom: 20px;
    margin-bottom: 0;
  }
}
@media (max-width: 700px) {
  .footer .link {
    margin-right: 45px;
  }
}
@media (max-width: 640px) {
  .home__block_1 {
    height: 40vh;
  }

  .about {
    padding: 50px 15px;
  }

  .whatwedo {
    padding-bottom: 50px;
  }

  .specializations {
    padding-bottom: 50px;
  }

  .news {
    margin-bottom: 50px;
  }
  .news .col-md-6:nth-child(1) {
    padding-top: 30px;
  }

  .map .content {
    left: 100px;
    transform: none;
  }
}
@media (max-width: 540px) {
  .home__title {
    padding-top: 100px;
    font-size: 42px;
  }
  .home__block_2 {
    padding: 20px 0;
  }
  .home__block_2 .title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .home__block_2 .include li p {
    font-size: 40px;
  }

  .news {
    margin-bottom: 0;
    padding-bottom: 50px;
  }

  .map .content {
    left: 50px;
  }

  .footer img {
    width: 200px;
  }
}
@media (max-width: 415px) {
  .home__title {
    font-size: 36px;
  }
  .home__block_2 .include li p {
    font-size: 24px;
  }

  .about .col-md-6:nth-child(2) {
    padding-left: 0;
  }

  .whatwedo .col-md-6:nth-child(2) {
    padding-left: 0;
  }

  .footer {
    padding: 50px 0;
  }
  .footer__navbar {
    flex-direction: column;
    text-align: center;
  }
  .footer__navbar .link {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  .home__block_1 {
    height: 100vh;
  }
  .home__title {
    padding-top: 150px;
    padding-left: 30px;
  }

  .about .col-md-6:nth-child(1) {
    padding-right: 20px;
  }
  .about .col-md-6 .col-3 .block {
    width: 70px;
    height: 70px;
  }
  .about .col-md-6 .col-3 p {
    margin-left: 14px;
  }

  .whatwedo .col-md-6:nth-child(1) {
    padding-right: 20px;
  }

  .specializations ul li .block {
    width: 70px;
    height: 70px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}
.overlay .box {
  position: relative;
  text-align: center;
  background: rgba(177, 177, 177, 0.7);
  width: 400px;
  margin: 150px auto;
  padding: 20px 0;
  border-radius: 10px;
}
.overlay .box h3 {
  color: #333;
  margin-bottom: 10px;
}
.overlay .box form {
  display: flex;
  flex-direction: column;
}
.overlay .box form input {
  outline: none;
  width: 220px;
  height: 35px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  color: #757575;
}
.overlay .box form .date::-webkit-calendar-picker-indicator {
  display: none;
}
.overlay .box form .block {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 220px;
}
.overlay .box form .btn {
  width: 100px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.overlay .box form .btn:hover {
  background: #b1b1b1;
  color: #333;
}
.overlay .contact {
  position: relative;
  text-align: center;
  background: rgba(177, 177, 177, 0.7);
  width: 400px;
  margin: 150px auto;
  padding: 20px 0;
  border-radius: 10px;
}
.overlay .contact ul {
  display: flex;
  justify-content: center;
}
.overlay .contact ul li {
  margin-left: 20px;
  margin-right: 20px;
}
.overlay .contact ul li img {
  width: 30px;
  height: 30px;
}
.overlay .contact ul li img:hover {
  transform: rotate(360deg);
}
.overlay .close {
  top: 0;
  right: -20px;
  width: 20px;
  height: 2px;
  background: none;
  position: absolute;
  cursor: pointer;
}
.overlay .close:before {
  content: "";
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  transform: rotate(45deg);
}
.overlay .close:after {
  content: "";
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  transform: rotate(-45deg);
}