.section-4 {
  overflow: hidden;
  padding: 100px 0;
  text-align: center;
}
.section-4 p {
  text-align: left;
  margin-bottom: 20px;
}
.section-4 .title {
  text-align: center;
  margin-bottom: 50px;
}
.section-4 ul {
  display: flex;
  flex-wrap: wrap;
}
.section-4 ul li {
  margin-right: 69px;
}
.section-4 ul li:nth-child(8) {
  margin-right: 0;
}
.section-4 ul li:last-child {
  margin-right: 0;
}
.section-4 ul li .block {
  margin: 0 auto 20px auto;
  width: 80px;
  height: 80px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}
.section-4 ul li p {
  text-align: center;
  margin-bottom: 20px;
}